// TODO Выяснить, нормально ли это
@import "../../css/vars.styl";

.modal
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 235
  animation: 0.3s ease-out 0s 1 normal none running backdropAnimation
  background-color: rgba(0, 0, 0, 0.6)
  backdrop-filter: blur(3px)

  &__content
    position: fixed
    left: 50%
    top: 50%
    width: 90%
    max-width: 485px
    padding: 20px
    border-radius: var(--br-s)
    background-color: var(--white-100)
    transform: translate(-50%, -50%)
    box-shadow: var(--bs-150)

  &__title
    @extend $title_modal

  // TODO Переделать этот костыль, а то не по БЭМ получается
  // (но вообще-то лучше переделать дизайн)
  & .form__field
    padding: 0

  & .label
    margin-bottom: var(--p-m)


@keyframes backdropAnimation
  0%
    opacity: 0
  100%
    opacity: 1
