
$svg-common
  display inline-block
  background url("img/icons-8a67240e.svg") no-repeat


// миксин для конкретной иконки
$icon_calendar
  @extend $svg-common
  background-position: (-128px - (20px - 16px)/2) (-78px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_clear
  @extend $svg-common
  background-position: (-128px - (20px - 16px)/2) (-98px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_code-commit
  @extend $svg-common
  background-position: (0px - (20px - 16px)/2) (-128px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_done-desktop
  @extend $svg-common
  background-position: (-128px - (26px - 22px)/2) (0px - (26px - 22px)/2)
  width 22px
  height 22px


// миксин для конкретной иконки
$icon_done-mobile
  @extend $svg-common
  background-position: (-20px - (20px - 16px)/2) (-128px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_fail-desktop
  @extend $svg-common
  background-position: (-128px - (26px - 22px)/2) (-26px - (26px - 22px)/2)
  width 22px
  height 22px


// миксин для конкретной иконки
$icon_fail-mobile
  @extend $svg-common
  background-position: (-40px - (20px - 16px)/2) (-128px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_logo
  @extend $svg-common
  background-position: (0px - (128px - 124px)/2) (0px - (128px - 124px)/2)
  width 124px
  height 124px


// миксин для конкретной иконки
$icon_rebuild
  @extend $svg-common
  background-position: (-137px - (16px - 12px)/2) (-128px - (16px - 12px)/2)
  width 12px
  height 12px


// миксин для конкретной иконки
$icon_run
  @extend $svg-common
  background-position: (-154px - (13px - 9px)/2) (0px - (14px - 10px)/2)
  width 9px
  height 10px


// миксин для конкретной иконки
$icon_settings
  @extend $svg-common
  background-position: (-120px - (17px - 13px)/2) (-128px - (16px - 12px)/2)
  width 13px
  height 12px


// миксин для конкретной иконки
$icon_stopwatch
  @extend $svg-common
  background-position: (-60px - (20px - 16px)/2) (-128px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_user
  @extend $svg-common
  background-position: (-80px - (20px - 16px)/2) (-128px - (20px - 16px)/2)
  width 16px
  height 16px


// миксин для конкретной иконки
$icon_wait-desktop
  @extend $svg-common
  background-position: (-128px - (26px - 22px)/2) (-52px - (26px - 22px)/2)
  width 22px
  height 22px


// миксин для конкретной иконки
$icon_wait-mobile
  @extend $svg-common
  background-position: (-100px - (20px - 16px)/2) (-128px - (20px - 16px)/2)
  width 16px
  height 16px

