html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, code, img,
ol, ul, li, form, label,
article, aside, footer, header,
menu, nav, section
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

ol, ul
  list-style: none;

*
  box-sizing: border-box
