@import 'reset.css'

@import 'font'

@import 'vars'

@import 'base.blocks/icon'
@import 'base.blocks/text'
@import 'base.blocks/icon-text'
@import 'base.blocks/btn-big'
@import 'base.blocks/btn-small'
@import 'base.blocks/label'
@import 'base.blocks/input'
@import 'base.blocks/card'
@import 'base.blocks/menu'
@import 'base.blocks/page'

@import 'content.blocks/header'
@import 'content.blocks/main'
@import 'content.blocks/greetings'
@import 'content.blocks/form'
@import 'content.blocks/card-list'
@import 'content.blocks/log'
@import 'content.blocks/footer'
