.text
  @extend $font

  &_type_font-950
    @extend $font-950
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-xxl)
    //line-height: var(--lh-xxxl)
    //letter-spacing: var(--ls-m)

  &_type_font-900
    @extend $font-900
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-xxl)
    //line-height: var(--lh-xxl)

  &_type_font-850
    @extend $font-850
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-xl)
    //line-height: var(--lh-xl)
    //letter-spacing: var(--ls-m)

  &_type_font-800
    @extend $font-800
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-xl)
    //line-height: var(--lh-l)

  &_type_font-750
    @extend $font-750
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-l)
    //line-height: var(--lh-l)

  &_type_font-700
    @extend $font-700
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-m)
    //line-height: var(--lh-xxxxl)

  &_type_font-650
    @extend $font-650
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-m)
    //line-height: var(--lh-xxl)

  &_type_font-550
    @extend $font-550
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-m)
    //line-height: var(--lh-m)
    //letter-spacing: var(--ls-s)

  &_type_font-520
    @extend $font-520
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-m)
    //line-height: var(--lhp-l)

  &_type_font-500
    @extend $font-500
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-m)
    //line-height: var(--lh-s)
    //letter-spacing: var(--ls-s)

  &_type_font-450
    @extend $font-450
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-m)
    //line-height: var(--lh-xs)

  &_type_font-400
    @extend $font-400
    //font-weight: var(--fw-medium)
    //font-size: var(--fsz-s)
    //line-height: var(--lh-l)
