.text
  @extend $font

  &_type_font-950
    @extend $font-950

  &_type_font-900
    @extend $font-900

  &_type_font-850
    @extend $font-850

  &_type_font-800
    @extend $font-800

  &_type_font-750
    @extend $font-750

  &_type_font-700
    @extend $font-700

  &_type_font-650
    @extend $font-650

  &_type_font-550
    @extend $font-550

  &_type_font-520
    @extend $font-520

  &_type_font-500
    @extend $font-500

  &_type_font-450
    @extend $font-450

  &_type_font-400
    @extend $font-400
