.greeting
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 264px

  &__description
    margin: var(--p-xxxxxl) 0 var(--p-xxxxl)
    @extend $text_greeting
    text-align: center


