.log
  padding: 8px 12px
  border-radius: var(--br-m)
  overflow-x: auto
  white-space: pre
  $text_log()
  background-color: var(--bgLog)

  @media only screen and (max-width: $bpMobileDefault)
    border-radius: 0
    margin: 0 -16px

