@import "../../css/vars.styl";

.icon-text
  display: flex
  align-items: center
  font-style: normal
  font-weight: normal

  &__icon
    color: var(--cSecondary) // ДДД

  &__primary
    margin-left: var(--p-xxxxxs)
    @extend $text_task-meta-primary

  &__secondary
    margin-left: var(--p-xxxxxs)
    @extend $text_task-meta-secondary
