.card
  display: flex
  width: 100%
  margin-bottom: 8px
  padding: 12px 24px
  box-shadow: var(--bs-50)
  border-radius: var(--br-m)

  &_status_done

    & ^[0]__task-num
      color: var(--cTaskDone)

    & ^[0]__icon
      @extend $icon_done

  &_status_wait

    & ^[0]__task-num
      color: var(--cTaskWait)

    & ^[0]__icon
      @extend $icon_wait

  &_status_fail

    & ^[0]__task-num
      color: var(--cTaskFail)

    & ^[0]__icon
      @extend $icon_fail

  &__content
    display: flex

  &__icon
    flex-shrink: 0
    margin-right: 10px

  &__info
    flex-grow: 1
    display: flex
    justify-content: space-between

    &_direction_row
      flex-direction: row

      @media only screen and (max-width: $bpMobilePageBuild)
        flex-direction: column

    &_direction_column
      flex-direction: column


  &__task
    display: flex
    flex-direction: row
    margin-bottom: 8px

    @media only screen and (max-width: $bpMobilePageBuild)
      flex-direction: column
      margin-bottom: 0

  &__task-num
    display: inline-block
    margin-right: 4px

    @media only screen and (max-width: $bpMobilePageBuild)
      margin-bottom: 8px

  &__subtitle
    display: inline-block

    @media only screen and (max-width: $bpMobilePageBuild)
      margin-bottom: 8px

  &__meta
    flex-shrink: 0
    display: flex

    //@media only screen and (max-width: $bpMobilePageBuild)
    //  padding: 8px 0

    //&_vertical
    //  flex-direction: column
    //
    //  @media only screen and (max-width: $bpMobilePageBuild)
    //    flex-direction: row
    //    border-top: 1px solid var(--cBorderCardMeta)
    //
    //  & ^[0]__icon-text:not(:first-child)
    //    margin-top: 12px
    //
    //    @media only screen and (max-width: $bpMobilePageBuild)
    //      margin-top: 0
    //      margin-left: 10px

    &_horizontal
      flex-direction: row
      margin-bottom: 8px

      @media only screen and (max-width: $bpMobilePageBuild)
        flex-direction: column

      & ^[0]__icon-text:not(:first-child)
        margin-left: 8px

        @media only screen and (max-width: $bpMobilePageBuild)
          margin-left: 0
          margin-top: 8px

  &__time
    flex-shrink: 0
    display: flex

    &_vertical
      flex-direction: column

      @media only screen and (max-width: $bpMobilePageBuild)
        flex-direction: row
        padding-top: 8px
        border-top: 1px solid var(--cBorderCardMeta)

      & ^[0]__icon-text:not(:first-child)
        margin-top: 12px

        @media only screen and (max-width: $bpMobilePageBuild)
          margin-left: 8px
          margin-top: 0

    &_horizontal
      flex-direction: row
      padding-top: 8px
      border-top: 1px solid var(--cBorderCardMeta)

      & ^[0]__icon-text:not(:first-child)
        margin-left: 8px

