.btn-small
  flex-shrink: 0
  display: flex
  align-items: center
  height: 28px
  min-width: 28px
  border-radius: var(--br-s)
  border: none // одинаковый с btn-big
  color: var(--cTextPrimary)
  background-color: var(--bgBtnSecondary)
  cursor: pointer
  outline: none

  &_type_only-icon
    padding: 8px
    width: 28px // ДДД

  &_type_only-text
    padding: 8px 13px

  &_type_icon-text
    padding: 8px 13px 8px 8px

    @media only screen and (max-width: $bpMobile)
      padding: 8px
      font-size: 0

    &::before
      content: ''
      display: block
      //width: 12px
      //height: 12px
      margin-right: 8px

      @media only screen and (max-width: $bpMobile)
        margin: auto
