.btn-small
  flex-shrink: 0
  display: flex
  justify-content: center
  align-items: center
  height: 28px
  min-width: 28px
  border-radius: var(--br-s)
  border: none // одинаковый с btn-big
  color: var(--cTextPrimary)
  background-color: var(--bgBtnSecondary)
  cursor: pointer
  outline: none

  // 2 следующих стиля отсутсвуют на макете
  // добавил для улучшения user experience и accessibility
  // ПСД
  &:hover
    background-color: var(--bgBtnSecondaryHovered)

  &:focus
    box-shadow: inset 0 0 0 2px var(--cBorderBtnSecondaryFocused)

  &_type_only-icon
    padding: 8px
    width: 28px // ДДД надо ли?

  &_type_only-text
    padding: 8px 13px

  &_type_icon-text
    padding: 8px 13px 8px 8px

    @media only screen and (max-width: $bpMobileDefault)
      padding: 8px
      font-size: 0

    &::before
      content: ''
      display: block
      //width: 12px
      //height: 12px
      margin-right: 8px

      @media only screen and (max-width: $bpMobileDefault)
        margin: auto
