.btn-small
  flex-shrink: 0
  height: 28px
  border-radius: 4px
  border: none // одинаковый с btn-big
  color: var(--cTextPrimary)
  background-color: var(--bgBtnSecondary)
  cursor: pointer

  &_type_only-icon
    padding: 8px

  &_type_only-text
    padding: 0 13px

  &_type_icon-text
    padding: 8px 13px 8px 8px

    &::before
      content: ''
      display: block
      width: 12px
      height: 12px
      margin-right: 8px
