.footer
  width: 100%
  background-color: var(--bgContainerDesktop)
  padding: 0 16px

  &__container
    display: flex
    justify-content: space-between
    align-items: center
    max-width: var(--wMaxContent)
    min-width: var(--wMinContent)
    //height: var(--hFooter)
    padding: 8px 0
    margin: auto

    @media only screen and (max-width: $bpMobile)
      flex-direction: column
      justify-content: flex-start
      align-items: flex-start
      padding: 12px 0

  &__copyright
    $text_copyright()

    @media only screen and (max-width: $bpMobile)
      margin-top: 8px


