.footer
  width: 100%
  background-color: var(--bgContainerDesktop)

  &__container
    display: flex
    justify-content: space-between
    align-items: center
    max-width: var(--wMaxContent);
    height: var(--hFooter)
    margin: auto

