.greeting
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 264px

  &__description
    margin: 32px 0 24px
    $text_greeting()
    text-align: center


