.greeting
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 264px

  &__logo
    width: 124px
    height: 124px
    background-image: url(svg/logo.svg)

  &__description
    margin: 32px 0 24px
    text-align: center

