.header
  flex-shrink: 0
  width: 100%
  padding: 10px 16px

  @media only screen and (max-width: $bpMobileDefault)
    padding: 12px 16px

  &__container
    display: flex
    justify-content: space-between
    max-width: var(--wMaxContent)
    min-width: var(--wMinContent)
    margin: auto

    &_valign_top
      align-items: flex-start

    &_valign_center
      align-items: center

  &__title
    $title_desktop()

    @media only screen and (max-width: $bpMobileDefault)
      $title_mobile()

  &__repo-title
    $title-repo_desktop()

    @media only screen and (max-width: $bpMobileDefault)
      $title-repo_mobile()


