.icon-text
  display: flex
  align-items: center
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.06px;

  &__icon
    color: var(--cTextSecondary)

  &__primary
    color: var(--cTextPrimary)

  &__secondary
    color: var(--cTextSecondary)
