
$svg-common
  display inline-block
  background url("img/icons-89345f6e.svg") no-repeat


// миксин для конкретной иконки
$icon_calendar
  @extend $svg-common
  background-position: (-128px - (18px - 14px)/2) (0px - (20px - 16px)/2)
  width 14px
  height 16px

// класс для иконки без использования before
.icon_calendar
  @extend $icon_calendar

// класс для иконки через before
.icon_calendar-before
  &::before
    content ''
    @extend $icon_calendar



// миксин для конкретной иконки
$icon_clear
  @extend $svg-common
  background-position: (-146px - (20px - 16px)/2) (0px - (20px - 16px)/2)
  width 16px
  height 16px

// класс для иконки без использования before
.icon_clear
  @extend $icon_clear

// класс для иконки через before
.icon_clear-before
  &::before
    content ''
    @extend $icon_clear



// миксин для конкретной иконки
$icon_clock
  @extend $svg-common
  background-position: (-146px - (18px - 14px)/2) (-20px - (20px - 16px)/2)
  width 14px
  height 16px

// класс для иконки без использования before
.icon_clock
  @extend $icon_clock

// класс для иконки через before
.icon_clock-before
  &::before
    content ''
    @extend $icon_clock



// миксин для конкретной иконки
$icon_code-commit
  @extend $svg-common
  background-position: (-146px - (20px - 16px)/2) (-40px - (12px - 8px)/2)
  width 16px
  height 8px

// класс для иконки без использования before
.icon_code-commit
  @extend $icon_code-commit

// класс для иконки через before
.icon_code-commit-before
  &::before
    content ''
    @extend $icon_code-commit



// миксин для конкретной иконки
$icon_done
  @extend $svg-common
  background-position: (-146px - (20px - 16px)/2) (-52px - (20px - 16px)/2)
  width 16px
  height 16px

// класс для иконки без использования before
.icon_done
  @extend $icon_done

// класс для иконки через before
.icon_done-before
  &::before
    content ''
    @extend $icon_done



// миксин для конкретной иконки
$icon_fail
  @extend $svg-common
  background-position: (-146px - (20px - 16px)/2) (-72px - (20px - 16px)/2)
  width 16px
  height 16px

// класс для иконки без использования before
.icon_fail
  @extend $icon_fail

// класс для иконки через before
.icon_fail-before
  &::before
    content ''
    @extend $icon_fail



// миксин для конкретной иконки
$icon_logo
  @extend $svg-common
  background-position: (0px - (128px - 124px)/2) (0px - (128px - 124px)/2)
  width 124px
  height 124px

// класс для иконки без использования before
.icon_logo
  @extend $icon_logo

// класс для иконки через before
.icon_logo-before
  &::before
    content ''
    @extend $icon_logo



// миксин для конкретной иконки
$icon_play
  @extend $svg-common
  background-position: (-128px - (13px - 9px)/2) (-54px - (14px - 10px)/2)
  width 9px
  height 10px

// класс для иконки без использования before
.icon_play
  @extend $icon_play

// класс для иконки через before
.icon_play-before
  &::before
    content ''
    @extend $icon_play



// миксин для конкретной иконки
$icon_rebuild
  @extend $svg-common
  background-position: (-146px - (16px - 12px)/2) (-112px - (16px - 12px)/2)
  width 12px
  height 12px

// класс для иконки без использования before
.icon_rebuild
  @extend $icon_rebuild

// класс для иконки через before
.icon_rebuild-before
  &::before
    content ''
    @extend $icon_rebuild



// миксин для конкретной иконки
$icon_settings
  @extend $svg-common
  background-position: (-128px - (16px - 12px)/2) (-38px - (16px - 12px)/2)
  width 12px
  height 12px

// класс для иконки без использования before
.icon_settings
  @extend $icon_settings

// класс для иконки через before
.icon_settings-before
  &::before
    content ''
    @extend $icon_settings



// миксин для конкретной иконки
$icon_user
  @extend $svg-common
  background-position: (-128px - (17px - 13px)/2) (-20px - (18px - 14px)/2)
  width 13px
  height 14px

// класс для иконки без использования before
.icon_user
  @extend $icon_user

// класс для иконки через before
.icon_user-before
  &::before
    content ''
    @extend $icon_user



// миксин для конкретной иконки
$icon_wait
  @extend $svg-common
  background-position: (-146px - (20px - 16px)/2) (-92px - (20px - 16px)/2)
  width 16px
  height 16px

// класс для иконки без использования before
.icon_wait
  @extend $icon_wait

// класс для иконки через before
.icon_wait-before
  &::before
    content ''
    @extend $icon_wait


