.input
  position: relative

  &__field
    height: 36px
    padding: 11px 13px 10px
    border: 2px solid var(--cBorder)
    border-radius: 4px
    color: var(--cTextPrimary)
    background: var(--cWhite)

    &:not(:empty) + &__clear
      display: block

    &::placeholder
      color: var(--cTextInputPlh)

    &:focus
      border: 2px solid var(--cBorderInputFocused)
      outline: none

    &_type_block
      display: block
      width: 100%
      max-width: 474px
      margin-top: 6px

    &_type_inline
      display: inline-block
      width: 52px
      margin: 4px 8px
      text-align: right

  &__clear
    position: absolute
    right: 10px
    top: 10px
    display: none
    cursor: pointer
