.input
  height: 36px
  padding: 11px 13px 10px
  border: 2px solid var(--cBorder)
  color: var(--cTextPrimary)
  background: var(--cWhite)

  &::placeholder
    color: var(--cInputPlh)

  &:focus
    border: 2px solid var(--cBorderFocused)
    outline: none

  &_type_block
    display: block
    width: 100%
    max-width: 474px
    margin-top: 6px

  &_type_inline
    display: inline-block
    margin: 4px 8px

