.input
  position: relative

  &_type_block
    display: block
    width: 100%
    max-width: 474px
    margin-top: 6px

  &_type_inline
    display: inline-block
    width: 52px
    margin: 4px 8px
    text-align: right

  &__field
    width: 100%
    height: 36px
    padding: 11px 13px 10px
    border: 2px solid var(--cBorderInput)
    border-radius: var(--br-s)
    $input-main()

    //&[value=""] + ^[0]__clear
    //  //display: none
    //  background: red
    //
    //&:invalid + ^[0]__clear
    //  //background: hsla(0, 90%, 70%, 1);
    //  background: blue
    ////
    //&:valid + ^[0]__clear
    //  //background: hsla(100, 90%, 70%, 1);
    //  background: blue

    &::placeholder
      $input-plh()

    &:focus
      border: 2px solid var(--cBorderInputFocused)
      outline: none

  &__clear
    position: absolute
    right: 10px
    top: 10px
    display: block
    cursor: pointer




