.label

  &_default
    $label()

  &_value
    $label-value()

  &_type_block
    display: block
    margin-top: 2px

  &_type_inline
    display: inline-block

  &__required
    color: var(--cTextLabelRequired)
