.label

  &_default
    $label()

  &_value
    $label-value()

  &_type_block
    display: block
    margin-bottom: var(--p-xxxxxs)

  &_type_inline
    display: inline-block

  &__required
    color: var(--cLabelRequired)
    margin-left: var(--p-xxxxxxs)
