.log
  background-color: var(--bgBtnBifDisabled)
  padding: 8px 12px
  overflow-x: auto
  width: 100%
  //white-space: pre
  @media only screen and (max-width: $bpMobile)
    border-radius: 0
    //margin: 0 -8px

  &__container
    border-radius: 6px

