.main
  width: 100%

  &__container
    display: flex
    max-width: var(--wMaxContent);
    height: 100%
    margin: auto

    &_align_center
      justify-content: center

    &_align_left
      justify-content: flex-start

    &_valign_center
      align-items: center

    &_valign_top
      align-items: flex-start

