.text
  font-family: "YS Text", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-style: normal
  letter-spacing: 0.06px

  &_input-plh
    font-weight: normal
    font-size: 13px
    line-height: 15px

  &_primary
    font-weight: normal
    font-size: 13px
    line-height: 16px

  &_label
    font-weight: normal
    font-size: 13px
    line-height: 18px
    color: var(--cTextTitle)

  &_btn-small
    font-weight: normal
    font-size: 13px
    line-height: 28px

  &_btn-big
    font-weight: normal
    font-size: 13px
    line-height: 36px

  &_title
    font-weight: 500
    font-size: 24px
    line-height: 30px
    color: var(--cTextPrimary)

  &_title2
    font-weight: 500
    font-size: 24px
    line-height: 28px
    color: var(--cTextTitle)

  &_subtitle
    font-weight: 500
    font-size: 18px
    line-height: 22px

  &_task-num
    font-weight: 500
    font-size: 18px
    line-height: 20px

  &_task-text
    font-weight: normal
    font-size: 15px
    line-height: 20px


