// Условные обозначения
// c - color
// bg - background
// btn - button
// plh - placeholder
// num - number
// w - width
// h - height
// bp - breakpoint

// ПСД - повод спросить дизайнера
// ДДД - Думай, Дмитрий, думай

*
  box-sizing: border-box

// Breakpoints
// CSS переменные не срабатывают в media query,
// поэтому вместо них использую переменную препроцессора
$bpMobile = 540px

:root
  // Цвета текстов
  --cTextPrimary: #000000
  --cTextSecondary: rgba(0, 0, 0, 0.65)
  --cTextSecondary: rgba(0, 0, 0, 0.3) // ПСД. Цвет встречается в описании компонентов, но отсутсвует на макетах страниц
  --cTextTitle: #7F8285
  --cTextValue: #434445
  --cInputPlh: rgba(0, 0, 0, 0.2)
  --cBtnDisabled: rgba(127, 127, 127, 0.5) //

  // Доп. цвета текстов для Задач
  --cTaskWait: #FF9A00
  --cTaskFail: #FF3333
  --cTaskDone: #00B341
  --cTaskDescription: #44444
  --cLinkHovered: #E00000

  // Рамки
  --cBorder: #D9D9D9
  --cBorderFocused: #B3B3B3
  --cBorderBtnPrimaryFocused: #B38F00

  // Фоны
  --bgMain: #E5E5E5
  --bgBtnPrimary: #FFCC00
  --bgBtnPrimaryHovered: #F2C200
  --bgBtnSecondary: #E6E6E6
  --bgBtnSecondaryHovered: #DBDBDB
  --bgContainerDesktop: #F0F2F3
  --bgBtnDisabled: #F2F2F2

  // Доп. цвета иконок
  --cIconPlay: #111111 // ПСД. Все иконки, кроме этой - #000. Кажется, что разница нет.
  --cIconLogo: rgba(0, 0, 0, 0.1)

  --wMaxContent: 800px
  --wMinContent: 320px
  --hHeader: 48px
  --hFooter: 32px

