
{{#hasMixin}}{{mixinName}}()
  display inline-block
  background url("{{{sprite}}}") no-repeat
{{#hasCommon}}.{{commonName}}
{{mixinName}}()

// миксин с общими свойствами для всех иконок
{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}${{/hasCommon}}{{commonName}}
  display inline-block
  background url("{{{sprite}}}") no-repeat

{{/hasMixin}}{{#shapes}}

// миксин для конкретной иконки
$icon_{{#selector.shape}}{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}
{{/selector.shape}}
{{^hasCommon}}{{#hasMixin}}{{mixinName}}(){{/hasMixin}}{{^hasMixin}}  @extend ${{commonName}}{{/hasMixin}}
{{/hasCommon}}
  background-position: ({{position.absolute.x}}px - ({{width.outer}}px - {{width.inner}}px)/2) ({{position.absolute.y}}px - ({{height.outer}}px - {{height.inner}}px)/2)
  width {{width.inner}}px
  height {{height.inner}}px

// класс для иконки без использования before
.icon_{{#selector.shape}}{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}
  @extend $icon_{{#selector.shape}}{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}{{/selector.shape}}
{{/selector.shape}}

// класс для иконки через before
.icon_{{#selector.shape}}{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}-before
  &::before
    content ''
    @extend $icon_{{#selector.shape}}{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}{{/selector.shape}}
{{/selector.shape}}

{{#dimensions.extra}}

{{#selector.dimensions}}{{#escape}}{{expression}}{{/escape}}{{^last}},{{/last}}
{{/selector.dimensions}}
  width {{width.inner}}px
  height {{height.inner}}px
{{/dimensions.extra}}

{{/shapes}}
