// класс для иконки без использования before
.icon_calendar
  @extend $icon_calendar

// класс для иконки через before
.icon_calendar-before
  &::before
    content ''
    @extend $icon_calendar

// класс для иконки без использования before
.icon_clear
  @extend $icon_clear

// класс для иконки через before
.icon_clear-before
  &::before
    content ''
    @extend $icon_clear

// класс для иконки без использования before
.icon_code-commit
  @extend $icon_code-commit

// класс для иконки через before
.icon_code-commit-before
  &::before
    content ''
    @extend $icon_code-commit

// класс для иконки без использования before
.icon_done-desktop
  @extend $icon_done-desktop

// класс для иконки через before
.icon_done-desktop-before
  &::before
    content ''
    @extend $icon_done-desktop

// класс для иконки без использования before
.icon_done-mobile
  @extend $icon_done-mobile

// класс для иконки через before
.icon_done-mobile-before
  &::before
    content ''
    @extend $icon_done-mobile

// класс для иконки без использования before
.icon_fail-desktop
  @extend $icon_fail-desktop

// класс для иконки через before
.icon_fail-desktop-before
  &::before
    content ''
    @extend $icon_fail-desktop

// класс для иконки без использования before
.icon_fail-mobile
  @extend $icon_fail-mobile

// класс для иконки через before
.icon_fail-mobile-before
  &::before
    content ''
    @extend $icon_fail-mobile

// класс для иконки без использования before
.icon_logo
  @extend $icon_logo

// класс для иконки через before
.icon_logo-before
  &::before
    content ''
    @extend $icon_logo

// класс для иконки без использования before
.icon_rebuild
  @extend $icon_rebuild

// класс для иконки через before
.icon_rebuild-before
  &::before
    content ''
    @extend $icon_rebuild

// класс для иконки без использования before
.icon_run
  @extend $icon_run

// класс для иконки через before
.icon_run-before
  &::before
    content ''
    @extend $icon_run

// класс для иконки без использования before
.icon_settings
  @extend $icon_settings

// класс для иконки через before
.icon_settings-before
  &::before
    content ''
    @extend $icon_settings

// класс для иконки без использования before
.icon_stopwatch
  @extend $icon_stopwatch

// класс для иконки через before
.icon_stopwatch-before
  &::before
    content ''
    @extend $icon_stopwatch

// класс для иконки без использования before
.icon_user
  @extend $icon_user

// класс для иконки через before
.icon_user-before
  &::before
    content ''
    @extend $icon_user

// класс для иконки без использования before
.icon_wait-desktop
  @extend $icon_wait-desktop

// класс для иконки через before
.icon_wait-desktop-before
  &::before
    content ''
    @extend $icon_wait-desktop

// класс для иконки без использования before
.icon_wait-mobile
  @extend $icon_wait-mobile

// класс для иконки через before
.icon_wait-mobile-before
  &::before
    content ''
    @extend $icon_wait-mobile

