.menu

  &__link
    text-decoration: none
    @extend $text_menu-desktop

    &:hover
      color: var(--cLinkHovered)

    @media only screen and (max-width: $bpMobileDefault)
      @extend $text_menu-mobile

  &__link:not(:first-child)
    margin-left: 12px


